<table>
    <tr>
        <td><a href="{{ path("accueil") }}">Accueil</a></td>
        {% if utilisateur is null %}
            <td><a href="{{ path("utilisateur_connexion") }}">Connexion</a></td>
            <td><a href="{{ path("utilisateur_creer") }}">Créer un compte</a></td>
        {% elseif utilisateur.isadmin %}
            <td><a href="{{ path("utilisateur_deconnexion") }}">Déconnexion</a></td>
            <td><a href="{{ path("utilisateur_gestion") }}">Gestion utilisateur</a></td>
            <td><a href="{{ path("produit_ajout_produit") }}">Ajout produit</a></td>
            <td><a href="https://fr.wikipedia.org/wiki/Amour_et_Amn%C3%A9sie">Amour et Amnésie</a></td>
        {% else %}
            <td><a href="{{ path("utilisateur_deconnexion") }}">Déconnexion</a></td>
            <td><a href="{{ path("utilisateur_modifier_profil") }}">Modifier profil</a></td>
            <td><a>Magasin</a></td>
            <td><a>Panier</a></td>
        {% endif %}
    </tr>
</table>