{% extends '/Layouts/siteLayout.html.twig' %}
{% block titre_principal %} Magasin {% endblock %}

{% block vue %}
    {% for msg in app.session.flashBag.get('info') %}
        <p> {{ msg }}</p>
    {% endfor %}
    <form id="id_form"
          action="{{ path('produit_magasin') }}"
          method="post">
        <fieldset>
            <legend>Les produits</legend>
            <table>
                <thead>
                <tr>
                    <th>Nom produit :</th>
                    <th>Prix produit :</th>
                    <th>Quantité en stock du produit :</th>
                    <th> Quantité voulu</th>

                </tr>
                </thead>
                <tbody>
                {% for produit in produits %}
                    <tr>
                        <td>{{ produit.libelle }}</td>
                        <td>{{ produit.prix }}</td>
                        <td>{{ produit.quantite }}</td>
                        {% if produit.quantite == 0 %}
                            <td>vous ne pouvez pas commandez ce produit</td>
                        {% else %}
                            <td>
                                <select name="{{ produit.id }}" id="list" size="1" tabindex="180">
                                    {% for i in 0..produit.quantite %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </fieldset>
        <fieldset>
            <legend>Validez commande</legend>
            <input type="submit" value="envoi" tabindex="220"/>
        </fieldset>
    </form>
    <a href="{{ path('produit_envoi_mail') }}">Envoyer un mail</a>
{% endblock %}

{#  Clementine Guillot et Louis Forestier #}